.header  {
  display: flex;
  font-family: monospace;
  background: papayawhip;
<<<<<<< HEAD
  justify-content: center;
  margin: 10px;
  padding: 15px auto;
=======
  padding: 8px;
  align-items: center;
  justify-content: space-between;
>>>>>>> 496a217474beff2d07cb6b43e9d32b348c557f17
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  display: flex;
  list-style-type: none;
<<<<<<< HEAD
  margin: auto;
  padding: 0;
=======
  margin: 8px;
  padding: 0;
  gap: 10px;
>>>>>>> 496a217474beff2d07cb6b43e9d32b348c557f17
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}